@font-face {
font-family: "Boutros";
src: url("Boutros.ttf");
}


body {
  background: #DDDDDD;
  font-family: 'Boutros';
';

}

#wrapper {
  width: 80%;
  margin: 0 auto;
  background-color: white;
  padding-bottom: 5px;
  border-radius: 10px;
}

header {
  font-family: 'Boutros';
  background-color: #96bbc7;
  color: white;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  padding: 8px;
  margin-bottom: 15px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

#licenses {
  border-top: 1px solid #000;
  /*width: 800px;*/
  margin: 0 auto;
}

#license .supervisor{
	color: red;
}

table {
  /*width: 800px;*/
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 17px;
  border-collapse: separate;
  border: 0.09em solid #a5a5a5;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;

	-moz-box-shadow:3px 3px 5px rgba(0,0,0,0.3);
	-webkit-box-shadow:3px 3px 5px rgba(0,0,0,0.3);
	box-shadow:0px 0px 12px rgba(0, 0, 0, 0.18);

}

th {
  background-color: #96bbc7;
  color: white;
  padding: 5px;
  font-size: 18px;
  text-align: center;
}

tr {
  text-align: center;


}

td {
  padding: 2px;
  font-size: 18px;
  width: 400px;
}

a {
  text-decoration: none;
  color: red;
}

#pager {
  margin: 10px auto 10px auto;
  max-width: 273.7px;
}

.page {
  margin-left: 5px;
  background-color: #1d7693;
  color: white;
  border-radius: 2px;
  border: 1px solid #1d7693;
  font-weight: light;
}
.page:hover {
  background-color: rgba(29, 118, 147, 0.7);
}
.pageSelected {
  background-color: rgba(29, 118, 147, 0.7);
  font-weight: light;
}

#lastupdated {
  font-family: 'aerial';
  text-align: center;
  margin: 0 auto;
}

#copyright {
  font-family: 'aerial';
  font-size: 20px;
  max-width: 400px;
  margin: 15px auto 10px auto;
  text-align: center;
}
